.logo__section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  border-top: 1px solid rgba(0, 0, 0, 0.123);
  justify-content: space-between;
  padding: 67px 0px;

}

.logo__container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  margin-left: 40px;

}

.logo-img {
  filter: grayscale(100%);
  opacity: .3;
  transition: filter 0.3s ease;
}

.b-4 {
  margin-bottom: 20px;
}

.logo-img:hover {
  opacity: 1;
  filter: grayscale(0%);
}